DATABASE_URL="postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DB_NAME>"
NEXTAUTH_SECRET="replace-with-32-char-secret"
NEXTAUTH_URL="https://<YOUR-DOMAIN>"
ADMIN_EMAIL="<ADMIN_EMAIL>"
ADMIN_PASSWORD="<ADMIN_PASSWORD>"
NEXT_PUBLIC_HEADER_BADGE="Buraya isim girin"
NEXT_PUBLIC_HEADER_TITLE="Etkinlik Takvimi"
NEXT_PUBLIC_HEADER_SUBTITLE="Kampüs, çevrim içi ve atölye buluşmalarını tek ekranda takip edin."
